---
import Base from "~/layouts/Page.astro";
import NoteList from "~/components/content/notes/List.astro";
import Link from "~/components/ui/link.astro";
---

<Base title="Statuses">
  <p class="my-2"><Link href="feed.rss">RSS feed</Link></p>
  <NoteList type="status" />
</Base>
