<div class="h-card flex gap-4">
  <div>
    <span class="p-name">Ivy Rose Turner</span>
    <br />
    <span class="p-honorific-prefix">Miss</span>
    <span class="p-given-name">Ivy</span>
    <abbr class="p-additional-name">Rose</abbr>
    <span class="p-family-name">Turner</span>
    <br />
    <span class="p-nickname">ivyrs</span>
  </div>
  <span class="p-nickname">ivyrs</span>
  <div class="p-org">Love Computer</div>
  <a class="u-url" href="https://ivy.rs">ivy.rs</a>
  <a class="u-email" href="mailto:ivy@ivy.rs">ivy@ivy.rs</a>
</div>
