---
import Layout from "../layouts/Layout.astro";
import Hero from "~/components/home/hero.astro";
import LatestNotes from "~/components/home/latestNotes.astro";
import Blog from "~/components/home/blog.astro";
import Elsewhere from "~/components/home/elsewhere.astro";
import Social from "~/components/home/social.astro";
import Programming from "~/components/home/programming.astro";
import Music from "~/components/home/music.astro";
---

<Layout>
  <div class="md:flex gap-16 mt-8">
    <div>
      {
        // main
      }
      <Hero />
      <Programming />
      <Music />
      <Elsewhere />
    </div>
    <div>
      {
        // sidebar
      }
      <LatestNotes />
      <Blog />
      <Social />
    </div>
  </div>
</Layout>
