---
import Page from "~/layouts/Page.astro";
import { Content } from "LICENSE.md";
---

<Page title="License">
  <p class="">Below is the license of the site. It may change at any time.</p>
  <p class="">Last update: 2025-06-25 - Add license</p>
  <div class="mt-8 prose dark:prose-invert">
    <Content />
  </div>
</Page>
