---
import Page from "~/layouts/Page.astro";
import Link from "~/components/ui/link.astro";
---

<Page title="Support me">
  <p class="mb-4">
    If you want to give me money, here's how you can (i guess?)
  </p>
  <div class="border-l-4 border-l-light-ye dark:border-l-dark-ye pl-4 mb-4">
    <p>
      Need web design or hosting? <a
        href="https://lovecomputer.net"
        class="text-light-ye dark:text-dark-ye"
      >
        Hire me!
      </a> :)
    </p>
  </div>
  <Link href="https://github.com/sponsors/ivyturner">GitHub Sponsors</Link>
  <Link href="https://ko-fi.com/ivyturner">Ko-fi</Link>
  <Link href="https://liberapay.com/ivy/">Liberapay</Link>

  <h3 class="my-4 font-bold">
    Thanks to all of these cool people for donating:
  </h3>
  <ul>
    <li>Adam Newbold</li>
  </ul>
</Page>
