---
import GitRepos from "./gitRepos.astro";
---

<div class="">
  <h2 class="text-xl font-bold mb-2">
    <i class="fa-solid fa-code-branch mr-2"></i>
    I like touching computers
  </h2>

  <p class="mb-4">
    I mostly use TypeScript but I'm working on my Rust as well. <br>
    I don't have any projects worthy of showing right now, 
    but they're probably on <a href="https://github.com/ivyturner">my GitHub</a>.
  </p>

  <!-- <GitRepos /> -->
</div>
