<div
  class="flag gilbert-baker"
  role="img"
  aria-label="Gilbert Baker Pride Flag. Eight vertical bars of equal size: hot pink, red, orange, yellow, green, turquoise, blue, and indigo."
>
</div>

<style>
  .flag {
    width: 6vmin;
    aspect-ratio: 16 / 9;
  }

  .gilbert-baker {
    background: linear-gradient(
      hotpink 12.5%,
      red 0 25%,
      orange 0 37.5%,
      yellow 0 50%,
      green 0 62.5%,
      darkturquoise 0 75%,
      blue 0 87.5%,
      indigo 0
    );
  }
</style>
