---
import { footerReminders } from "~/lib/fun";
---

<footer class="text-gray-dark">
  <p><a href="#">back to the top of the page</a></p>
  <p>
    © Ivy Turner 2025, licensed under the <a href="/license">OQL v1.2</a>.
  </p>
  <p><a href="/source">Source code</a></p>
  <p><span>{footerReminders()}</span></p>
</footer>
