---
const { href, relme, xstyle, icon = "fa-solid fa-arrow-right" } = Astro.props;
---

<ul class=`mb-2 ${xstyle} pl-0`>
  <li>
    <a rel={relme && "me"} href={href}>
      <i class={`${icon} mr-1`}></i>
      <slot />
    </a>
  </li>
</ul>
