<div
  class="prose dark:prose-invert prose-headings:text-light-tx dark:prose-headings:text-dark-tx prose-p:text-light-tx dark:prose-p:text-dark-tx prose-a:text-light-bl dark:prose-a:text-dark-bl prose-a:decoration-dashed transition-colors"
>
  <slot />
</div>
